.navbar {
  font-family: 'Signika', sans-serif;
  background: #ff6633;
  font-size: 30px;
  border-radius: 5px;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
}

a {
  width: 20px;
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: #555;
  border-radius: 5px;
}